.block{
    width: 600px;
    height: 800px;
    border:2px solid #999;
    background: url(../PracticeWeb/Image/cat1.jpg) top center no-repeat;
    margin: 20px auto;
}
.box{
    width: 50px;
    height: 30px;
    border:1px solid #009;
    background-color: #0F9; 
    text-align: center;
    line-height: 30px;
}
.menu-left{
 top : 50%;
 left : 20px;
 position: fixed;
}